
@use "../../Styles/Partials/colors" as*;
@use "../../Styles/Partials/mixins" as*;

.video-list {

&__subtitle {
    color:$Silver;
    font-size:1rem;
    font-weight:500;
    @include tablet {
        margin: 1.5rem 0;
    }
}
}