@use "../../Styles/Partials/mixins" as*;


.video-card {
  padding:.25rem 0;
  @include tablet {
    padding:.5rem 0;
  }
  @include desktop {
    margin: 1rem 0;
  }
    &__button {
        width:fit-content;
        border: none;
        cursor:pointer;
        display: flex;
        background-color: white;
        background-position: center;
        background-size: cover;
        text-align: left;
    }
    &__thumbnail-box {
      
    }
    &__thumbnail {
      height:4rem;
      width: 6.5rem; 
      object-fit: cover;
      border-radius: .25rem;    
      @include tablet {
        height: 5rem;
        width: 9rem;
      }
  
    }
    &__text {
      width:55%;
      margin-left:1rem;
    }
    &__title {
      margin: 0;  
      font-weight: 700;
      width: 10rem;
      height: 2rem; 
    }
    &__channel {
      margin-bottom: 0;
      margin-top: .5rem;    
    }
}
