@use "../../Styles/Partials/colors" as*;
@use "../../Styles/Partials/mixins" as*;


.button-container {
    display: flex;
    background-color: $BrainFlix-Blue;
    margin:1rem 0;
    width:100%;
    padding:0 1rem;
    color:$White;
    border-radius: 4px;
    @include tablet {
        width:65%;
        margin:1rem;
        margin-right: 0;
    }
    @include desktop {
        width:33%;
    }
    &:hover {
        background-color: $BrainFlix-DarkBlue;
        cursor: pointer;
   }
}
.button {
    width:90%;
    padding: 1rem;
    background-color: $BrainFlix-Blue;
    color:$White;
    border:none;
    font-size: .875rem;
    font-weight: 700;
    &:hover {
        background-color: $BrainFlix-DarkBlue;
        cursor: pointer;
    }
}

.button-icon {
    position: relative;
    @include tablet {
        max-width: 2rem;
    }
}