.avatar {
    background-image: url("../../Assets/Images/Mohan-muruge.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height:12vw;
        max-height: 36px;
        width:12vw;
        max-width: 36px;
        margin-left: 1rem;
       
}