@use "../../Styles/Partials/colors" as*;
@use "../../Styles/Partials/mixins" as*;

.comment-input {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $Divider-line;
    &__subtitle {
        font-weight: 700;
        color:$Secondary-text-color;
        margin:0.25rem;
        font-size: .875rem;
        margin-left: 4.5rem;

        @include tablet {
            margin-left:5rem;
        }
    }
    &__form {
        flex-grow: 1;
        @include tablet {
            display: flex;
            align-items: center;
        }
    }
    &__textarea {
        height:30vw;
        width: 100%;
        padding:1rem;
        resize:none;
        border-radius: .25rem;
        font-size: 1rem;
        background-color: $Formfield-background-color;
        border:1px solid $Divider-line;
        @include tablet {
            height:3rem;
            padding: 1rem;
            overflow: hidden;
        }
        &::placeholder {
            color:$Primary-text-color;
            font-size: 1rem;
            padding-bottom: .5rem;
        }
    }
    
}

.avatar {
    background-image: url("../../Assets/Images/Mohan-muruge.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height:12vh;
    max-height: 3rem;
    width:12vw;
    max-width: 3rem;
    margin: 1rem;
    margin-top:2rem;
    @include tablet {
        max-width: 4rem;
        max-height: 4rem;
        margin-top:1rem;
    }
    @include desktop {
        margin: 2rem;
    }
}