$Divider-line: #E1e1e1;
$Light-Text:#E1e1e1;
$Avatar-Background: #E1e1e1;
$Primary-CTA-color: #0095FF;
$Primary-text-color: #323232;
$CTA-hover-state:#0065AD;
$CTA-text-and-background: #FFF;
$Secondary-text-color:#afafaf;
$Formfield-background-color: #fafafa;
$Video-background: #000;