
@use "../../Styles/Partials/colors" as*;
@use "../../Styles/Partials/mixins" as*;

.search {
    position:relative;
    min-height:3rem;
    box-shadow: 0;
    flex-grow: 1;
    @include tablet {
        flex-grow: 0;
    }

    &__input {
        padding: .75rem;
        padding-left:2.5rem;
        width:100%;
        border: 1px solid $Divider-line;
        border-radius: .25rem;
        @include tablet {
            width: 16rem;
        }
    }

    &__svg {
        left:1rem;
        position:absolute;
        top:25%;
    }
}